.menubar {
    font-family: 微软雅黑;
    font-size: 12px;
}

.menubar-panel {
    //padding: 4px 0 0 0;
    color: #333;
    background: url(../image/bg.png) repeat-x left bottom;
    display: inline-block;
    overflow: hidden;
    height: 80px;
    >.menubar-panel-group {
        display: inline-block;
        padding: 0 9px 0 5px;
        vertical-align: top;
        .menubar-panel-title {
            text-align: center;
            padding: 0;
            margin: 4px 0 0 0;
            background-color: #E6E9ED;
            height: 16px;
            line-height: 16px;
            padding-left: 10px;
            padding-right: 10px;
            .menubar-panel-title-content {
                display: inline-block;
                vertical-align: top;
                height: 16px;
                .menubar-panel-title-icon {
                    vertical-align: middle;
                    display: none;
                }
                .menubar-panel-title-text {
                    vertical-align: middle;
                }
            }
            .menubar-panel-title-arrows {
                display: inline-block;
                background: url(../image/arrows-down.png) center center no-repeat;
                width: 10px;
                height: 16px;
                display: none;
            }
        }
        .menubar-panel-content {
            padding: 3px 0 3px 0;
            height: 54px;
            >.menubar-panel-content-group {
                list-style: none;
                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: top;
                @import '_menubar-items'
            }
        }
    }
    >.menubar-panel-group.thumbnail {
        height: 100%;
        .menubar-panel-title {
            background: none;
            height: 100%;
            cursor: pointer;
            padding-top: 20px;
            .menubar-panel-title-content {
                display: block;
                height: 40px;
                .menubar-panel-title-icon {
                    display: block;
                    width: 24px;
                    height: 24px;
                }
                .menubar-panel-title-text {
                    display: block;
                }
            }
            .menubar-panel-title-arrows {
                display: inline-block;
                background: url(../image/arrows-down.png) center center no-repeat;
                height: 10px;
                display: block;
                width: 100%;
            }
        }
        .menubar-panel-content {
            display: none;
        }
    }
    >.menubar-panel-group.menubar-panel-line {
        background: url(../image/panel-line.png) right bottom no-repeat;
    }
}

.menubar-panel.menubar-panel-popup {
    height: auto;
    border: #b9bdc0 1px solid;
    background:none;
    background-color: #f7fafe;
    z-index:9999;
    .menubar-panel-group,
    .menubar-panel-group.menubar-panel-line {
        background: none;
        .menubar-panel-title {
            display: none;
        }
    }
}

.menubar-popup {
    @import "_menubar-items";
    list-style: none;
    padding: 0;
    margin-top: 12px;
    padding: 0;
    position: absolute;
    z-index: 9999;
    background-color: #F6F9FD;
    border: #CAD2D9 1px solid;
    display: none;
    min-width: 8.5em;
    li {
        >a.menubar-item {
            padding: 5px 18px 5px 16px;
            white-space: nowrap;
            &:hover {
                background-color: #E6E9ED;
            }
            position:relative;
        }
        >a.menubar-item.arrows.menubar-item-popup-small {
            padding-right: 0;
            >.menubar-item-arrows.menubar-item-in-popup {
                background: url('../image/arrows-right.png') no-repeat center center;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.menubar-division
{
    display:block;
    height:1px;
    width:1px;
}